In [1]:
import numpy as np
import pandas as pd

In [6]:
toy=pd.read_csv('toy - toy.csv')

In [7]:
toy

   opponent      venue   outlook  toss result
0       kkr  bangalore  overcast  lost    won
1        mi     mumbai     sunny   won    won
2       rcb     mumbai  overcast   won    won
3       kkr  bangalore     sunny  lost    won
4       kkr  bangalore     sunny   won    won
5        mi    chennai     sunny   won   lost
6       rcb    chennai     sunny   won   lost
7       kkr    chennai  overcast   won    won
8        rr  bangalore     sunny  lost    won
9       rcb     mumbai  overcast   won    won
10      kkr    chennai     sunny   won    won
11      rcb  bangalore     sunny   won    won
12       rr    chennai  overcast   won    won
13      kkr    chennai  overcast   won    won
14      kkr  bangalore  overcast   won    won
15      rcb    chennai  overcast   won   lost
16      kkr  bangalore  overcast   won   lost
17       mi  bangalore     sunny   won   lost
18      rcb    chennai     sunny  lost    won
19       mi    chennai  overcast   won   lost
20      kkr  bangalore     sunny  lost    won
21      rcb  bangalore     sunny   won   lost
22       rr  bangalore  overcast   won    won
23      kkr     mumbai     sunny   won   lost
24       rr    chennai  overcast  lost    won

In [8]:
toy['result'].value_counts()

won     17
lost     8
Name: result, dtype: int64

In [9]:
won=17/25
lost=8/25

In [10]:

pd.crosstab(toy['opponent'],toy['result'])

result    lost  won
opponent
kkr          2    8
mi           3    1
rcb          3    4
rr           0    4

In [14]:
kol=2/8
mol=3/8
rol=3/8
rrol=0


kow=8/17
mow=1/17
row=4/17
rrow=4/17

In [11]:
pd.crosstab(toy['venue'],toy['result'])

result     lost  won
venue
bangalore     3    8
chennai       4    6
mumbai        1    3

In [15]:
bol=3/8
col=4/8
muol=1/8


bow=8/17
cow=6/17
muow=3/17

In [12]:
pd.crosstab(toy['outlook'],toy['result'])

result    lost  won
outlook
overcast     3    9
sunny        5    8

In [16]:
ol=3/8
sl=5/8

ow=9/17
sw=8/17

In [13]:
pd.crosstab(toy['toss'],toy['result'])

result  lost  won
toss
lost       0    6
won        8   11

In [17]:
ll=0
wl=8/8

lw=6/17
ww=11/17

# {"kkr", "chennai","overcast","lost"}

In [19]:
Pwin=won*kow*cow*ow*lw

Pwin

0.021103195603500918

In [21]:
Plost=lost*kol*col*ol*ll

Plost

0.0

# Hence the Team will win the  match given the following above conditions